<!-- This is the user sign up form template -->

<div class="user_signup_form">
<%= form_for @user do |f| %>
	<p>
		<%= f.label :username %>
		<%= f.text_field :username, :autofocus => true %>
	</p>
	<p>
		<%= f.label :avatar %>
		<%= f.text_field :avatar %>
	</p> 
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</p>

	<div id="user_signup_form_button">
		<%= f.submit 'Submit' %>
	</div>
<% end %>
</div>
