<!-- This displays an index of all existing documents and also has a search feature for document titles -->

<h2>Documents</h2>
<div class="search_form">
	<%= form_tag searcher_path, :action => 'search', :method => 'get' do %>
	<ul>	
		<li>
			<%= text_field_tag :search, params[:search], :id => 'search_field' %>
      	</li>
      	
		<div id="search_form_button">
			<li>
	      		<%= submit_tag "Search", :name => nil %> 
	      	</li>
      	</div>
    </ul>  				
  <% end %>
</div>
	
<div class="search_results">
    <% @results.each do |result| %>
  		<%= link_to result.title, :action => 'show', :id => result.id  %>
  <% end %>
</div>

<div class="documents_index">
<% @documents.each do |document| %>
	<div id="documents_index_inner">
		<h3><%= link_to(document.title, document_path(document)) if document.title %></h3>
		<p>of <%= link_to(document.classification.title, classification_path(document)) if document.classification %></p>	
		<p> - <%= document.content if document.content %></p>	
	</div><!-- documents_index_inner -->
<% end %>
</div><!-- documents_index -->