<div class="documents_show">
	<div id="documents_show_notes">

		<p>title: <%= @document.title if @document %></p>
		<p>content: <%= @document.content if @document %></p>
		<%# @users.each do |document| %>
			<% @document.users.each do |user| %>
	 			<p>user: <%= user.username if user %></p>
			<% end %>
 		<%# end %>
	</div>
</div>

	<div id="documents_show_menu">
			<p> • <%= link_to('edit', edit_document_path(@document)) %> • </p>	
			<p><%= link_to('remove', @document, :data => {:confirm => 'are you sure?', :method => :delete }) %> • </p>
	</div><!-- documents_show_menu -->
			



