<div class="documents_show">
	<div id="documents_show_notes">
		<p>title: <%= @document.title if @document %></p>
		<p>content: <%== Kramdown::Document.new(@document.content).to_html if @document %></p>
			<% @document.users.each do |user| %>
	 			<p>user: <%= user.username if user %></p>
			<% end %>
			<ul>
				<% @document.revisions.each do |revision| %>
					<li><%= User.where(:id => revision.user_id).first.try(:username) %> - <%= link_to revision.id, revision_path(revision) %></li>
				<% end %>
			</ul>
	</div>
</div>

	<div id="documents_show_menu"> 
		<ul>
		<li> • <%= link_to('edit', edit_document_path(@document)) %> • </li>	
			<li><%= link_to('remove', @document, :data => {:confirm => 'are you sure?', :method => :delete }) %> • </li>
		</ul>
	</div><!-- documents_show_menu -->