<!-- This displays the individual document and allows the user to edit or remove it.
It also lists the relating revision number to the document -->

<h2>Document <%= @document.id %></h2>
<div class="documents_show">
	<div id="documents_show_notes">
		<p>title: <%= @document.title if @document %></p>
		<p>content: <%== Kramdown::Document.new(@document.content).to_html if @document %></p>
			<div id="document_show_notes_user">
				<% @document.users.each do |user| %>
		 			<li>user: <%= user.username if user %></li>
				<% end %>
			</div>			
			<ul>
				<li>This article has the following revisions:</li>
				<% @document.revisions.each do |revision| %>
				<li>revision number <%= link_to revision.id, revision_path(revision) %> was last revised by 
					<%= User.where(:id => revision.user_id).first.try(:username) %>.</li>
				<% end %>
			</ul>
	</div>
</div>

	<div id="documents_show_menu"> 
		<ul>
			<li> • <%= link_to('edit', edit_document_path(@document)) %> • </li>	
			<li><%= link_to('remove', @document, :data => {:confirm => 'are you sure?', :method => :delete }) %> • </li>
		</ul>
	</div><!-- documents_show_menu -->