<!-- This is the home page html -->

<!DOCTYPE html>
<html>

<head>
  <title>rodger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lusitana|Arbutus+Slab|Ovo|Tienne|Bentham|Rufina|Corben|Artifika' rel='stylesheet' type='text/css'>
</head>
<!-- <div class="homepage_top"> -->
<div class="top_border_homepage">
	<nav id="homepage_login_nav">
		<%= render :partial => "/shared/nav_top"  %>
		<%= render :partial => "/shared/nav"  %>
	</nav>
</div>

<div>
	<h1 id="rodger_logo">rodger<span style="font-size: 122px !important; color: orange;">.</span></h1>
</div>

<body class="background_homepage">
	<div class="container">
		<% if flash[:notice].present? %>
			<div class="notice">
				<%= flash[:notice]%>
			</div> 
		<% end %>

		<%= yield %>

	</div><!-- container -->
</body>

<div class="bottom_border_homepage">
	<div id="homepage_logout_nav">	
		<nav>
		<%= render :partial => "/shared/nav_bottom"  %>
		</nav>
	</div><!-- hpmepage_logout_nav -->
</div><!-- bottom_border -->

</html>